name: .NET Core

on:
  push:
    branches: [ master ]
  # pull_request:
  #   branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 7.0.x
    - name: Install dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --configuration Release --no-restore
    - name: Test
      run: dotnet test --no-restore --verbosity normal
    - name: GitHub Package Auth
      run: dotnet nuget add source --username USERNAME --password ${{ secrets.GHTOKEN }} --store-password-in-clear-text --name github "https://nuget.pkg.github.com/OWNER/index.json"
    - name: Create NuGet Packages
      run: dotnet pack --configuration Release --include-symbols --include-source
    - name: Publish NuGet Packages
      run: dotnet nuget push "Arke.ARI/**/*.nupkg" --api-key ${{ secrets.GHTOKEN }} --source "github" --skip-duplicate
